@model BenCollins.Web.Model.Post

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("PostId", Model.Id)

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "post-title" })
                @Html.ValidationMessageFor(model => model.Title)
                <hr/>
            </div>
        </div>        

        <div class="form-group">
            <div class="col-md-10">
                @Html.Partial("_MarkdownEditorPartial", Model != null ? Model.Body : null)
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Post" class="btn btn-default" />
                <span class="status-text"></span>
            </div>
        </div>

    </div>
}
