@model BenCollins.Web.Model.Post

@{
    ViewBag.Title = "Create";
}

@section scripts {
    @Scripts.Render("~/Scripts/Markdown.Converter.js")
    @Scripts.Render("~/Scripts/Markdown.Sanitizer.js")
    @Scripts.Render("~/Scripts/Markdown.Editor.js")

    @Scripts.Render("~/Scripts/drafting.js")

    <script type="text/javascript">
        $(function () {
            var converter = new Markdown.Converter();
            var editor = new Markdown.Editor(converter);
            editor.run();
        })
    </script>
}

@Html.Partial("_PostFormPartial", Model)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
