@using StackExchange.Profiling;
@{
    var profiler = MiniProfiler.Current;
}
<!DOCTYPE html>
<html>
<head>
    @using (profiler.Step("header stuff"))
    {
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <title>@ViewBag.Title - Ben Collins</title>
        @RenderSection("head", required: false);
        @Styles.Render("~/bundles/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/stringformat.js")
        @Scripts.Render("~/Scripts/utility.js")
    }
</head>
<body>
    <div class="container">
        <img class="profile" alt="Ben Collins" src="~/Content/img/photo.jpg" height="50" />
        <section class="top-bar">
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="#">about</a></li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            <a href="~/admin">admin</a>
                        }
                        else
                        {
                            <a href="~/admin/login">login</a>
                        }
                    </li>
                </ul>

            </nav>
        </section>
        <section class="left-sidebar">
            @using (profiler.Step("left section"))
            {
                @RenderSection("left", required: false)
            }
        </section>
        <main class="body-content" role="main">
            @using (profiler.Step("RenderBody"))
            {
                @RenderBody()
            }
        </main>
        <section class="right-sidebar">
            @using (profiler.Step("right section"))
            {
                @RenderSection("right", required: false)
            }
        </section>
    </div>

    @RenderSection("scripts", required: false)
    @if (Request.IsAuthenticated)
    {
        @MiniProfiler.RenderIncludes(position: RenderPosition.Right)
    }
    @Scripts.Render("~/Scripts/navigation.js")
</body>
</html>
